@import url("https://fonts.googleapis.com/css2?family=Imbue:opsz,wght@10..100,100..900&display=swap");
.subpage_gallery {
  display: flex;
  flex-wrap: wrap;
  // gap: 16px; /* Spacing between images */
  /* width: 100%; */
  justify-content: space-around;
}
.subpage_bottom {
  align-items: center;
  img {
    max-width: 300px;
    height: auto;
  }
}
.subpage_gallery {
  figure {
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-top: 120px;
  }
  .subpage_description {
    margin-left: 1em;
    margin-right: 1em;
    ul {
      list-style-position: inside;
    }
  }
  #shows_padding {
    // padding-top: 10vh;
    h2 {
      padding-top: 30px;
      margin-bottom: 0;
    }
    ul {
      margin-block-start: 0;
    }
  }
  a {
    margin: 0;
    overflow-wrap: break-word;
    word-break: break-word;
    display: inline-block;
  }
  img {
    margin: -1em;
    width: 100vw; /* Make image responsive */
    height: auto; /* Maintain aspect ratio */
    display: block;
  }
}
h2 {
  font-family: Imbue;
  font-weight: 900;
  font-size: var(--font-xlarge);
  margin-top: 0;
  margin-bottom: 10px;
}
h4 {
  font-weight: 600;
  font-size: var(--font-xsmall);
  margin-top: 0px;
  margin-bottom: 50px;
  color: rgb(255, 0, 0);
}
p {
  font-size: var(--font-small);
}
.imageCopyright {
  font-size: var(--font-xsmall);
  text-align: end;
}
#works_titleTest {
  width: 100vw;
  max-width: 1000px;
  text-align: center;
  margin-top: 15vh;
}
@media only screen and (min-width: 900px) {
  .subpage_gallery {
    figure {
      margin-top: 5vh;
      padding-top: 0;
    }
    img {
      width: 70vw;
      margin: 0;
    }
    .subpage_description {
      padding-top: 0;
      margin-left: 15vw;
      margin-right: 15vw;
    }
  }
  #shows_padding {
    padding-top: 0;
  }
  #works_titleTest {
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
}
