@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wdth,wght@62,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
html {
  scroll-behavior: smooth;
}

:root {
  /* !typography */
  --font-xsmall: 0.787em; /* 1.05em × 1.333^-2 */
  --font-small: 1.05em; /* Base size */
  --font-medium: 1.4em; /* 1.05em × 1.333 */
  --font-large: 1.867em; /* 1.05em × 1.333^2 */
  --font-xlarge: 2.487em; /* 1.05em × 1.333^3 */
  --font-xxlarge: 3.316em; /* 1.05em × 1.333^4 */
  --font-xxxlarge: 4.422em; /* 1.05em × 1.333^5 */
  --font-largest: 5.893em; /* 1.05em × 1.333^6 */
  --color-black: #171717;
  --color-white: #ffffff;
  --color-blue: #000cb2;
  /* !card-width */
  /* --main-card-width: 7.4%; */
  --font-family_primary: "Poppins", sans-serif;
  --font-family_secondary: "clash_grotesk", sans-serif;
}

body {
  scroll-behavior: smooth;
  margin: 0;
  font-family: var(--font-family_primary);
  /* background-image: url(images/hero_final.jpg); */
  background-position: center;
  width: 100%;
  height: 100%;
}

button {
  all: unset; /* Resets all inherited and default browser styles */
  display: inline-block; /* Allows the button to wrap content like an image */
  cursor: pointer; /* Ensures it still looks clickable */
}

header a {
  color: inherit;
}

#topname {
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: rgb(255, 255, 255); */
  font-size: var(--font-xlarge);
  padding-left: 16px;
  line-height: 100%;
  font-family: Bebas Neue;
  position: fixed;
  margin-top: 16px;
  z-index: 2000;
}

#toptag {
  color: rgb(255, 0, 0);
  font-size: var(--font-small);
  padding-left: 16px;
}

.menu ul {
  display: flex;
  justify-content: left;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  list-style-type: none;
  width: calc(100vw - 16px); /* Subtracting 8px margin on both sides */
  padding: 0;
  margin-left: 10px; /* usuwam nadmiar marginesu z li*/
}
.menu ul li {
  margin: 6px;
  margin-top: 50px;
}

#top-menu-container {
  visibility: hidden;
  position: fixed;
  z-index: 0;
}
#top-menu-container ul {
  margin-block-start: 0px;
  margin-block-end: 0px;
}
#top-menu-container a:hover {
  font-weight: 500;
}

#top-menu-picked {
  font-weight: 600;
}

/*  */
/* hover on arrow */
.arrow_hover {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%); /* Center the arrow horizontally */
  z-index: 10;
}

.arrow_hover img {
  animation: moveUpDown 2s ease-in-out infinite; /* Infinite loop for smooth motion */
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0); /* Start at the original position */
  }
  50% {
    transform: translateY(-10px); /* Move up by 10px */
  }
  100% {
    transform: translateY(0); /* Return to the original position */
  }
}
#burger_menu {
  position: fixed;
  margin-top: 21px;
  left: 90%;
  z-index: 1000;
}
#burger_menu img {
  width: 25px;
  height: auto;
}
#burger_menu a {
  text-decoration: none;
  color: #171717;
}
#burger_menu a:hover {
  font-weight: 500;
}

.burger-icon {
  width: 24px; /* Adjust size as needed */
  height: auto; /* Maintain aspect ratio */
}

.hidden {
  display: none; /* Hide the element */
}

#burger_button {
  all: unset; /* Remove default styles */
  position: absolute; /* Position the button */
  z-index: 1100; /* Ensure it's above other elements */
}

/* The overlay covering the page */
#burger_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-white);
  flex-direction: column;
  z-index: 100;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: center;
}

/* The menu on the left side */
#burger_list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 250px;
  background: var(--color-white);
}

#burger_list li {
  padding: 16px;
  font-size: var(--font-medium);
}

#burger_socials {
  display: grid;
  padding: 16px;
  grid-template-columns: 1fr 1fr;
}
#burger_socials img {
  margin-right: 16px;
  margin-top: 20vh;
}

/* Visible state when toggled */
#burger_overlay.active {
  transform: translateX(0);
}

.burgerState {
  visibility: hidden;
}

/* Basic styling for the gallery container */
.image-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* Spacing between images */
  padding-top: 15vh;
  justify-content: space-around;
}

.image-gallery figure {
  margin: -1em;
  margin-top: 5vh;
}

.top-gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px; /* Spacing between images */
  padding-top: 120px;
  justify-items: center;
}
.top-gallery figure {
  margin: -1em;
}
.top-gallery p {
  margin: 1em;
  margin-top: 20vh;
}

/* Make the image fit within its container without being cropped */
.image-link {
  display: block;
  text-decoration: none; /* Remove link underline */
  overflow: hidden;
}

/* Ensure the image resizes correctly */
.image-gallery .image_vertical {
  width: 70vw; /* Make image responsive */
  max-width: 300px;
  height: auto; /* Maintain aspect ratio */
  display: block;
  margin-bottom: 2px; /* Space between image and caption */
}

.image-gallery .image_horizontal {
  width: 84vw; /* Make image responsive */
  max-width: 300px;
  height: auto; /* Maintain aspect ratio */
  display: block;
  margin-bottom: 2px; /* Space between image and caption */
}

.top_image {
  max-width: 300px;
}

/* Styling for the caption */
.caption {
  font-size: var(--font-xsmall);
  text-align: center;
  color: #333; /* Adjust caption color */
  margin: 0;
  font-weight: 500;
}

/* Optional: Add hover effect for images */
.image-link:hover .image {
  opacity: 0.8; /* Slightly dim the image on hover */
}

footer {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  align-items: center;
}
footer a {
  text-decoration: none;
  color: #171717;
}

#footer_socials {
  display: grid;
  padding: 16px;
  grid-template-columns: 1fr 1fr;
}
#footer_socials img {
  margin-right: 16px;
}

#backtotop {
  padding: 16px;
}

@media only screen and (min-width: 600px) {
  .top-gallery p {
    margin: 7vw;
  }
  .image-gallery {
    justify-content: center;
    margin-left: 7vw;
    margin-right: 7vw;
    padding-top: 120px;
  }
  .image-gallery figure {
    margin-top: 3vh;
  }
  footer {
    margin-left: 10vw;
    margin-right: 10vw;
  }
}
@media only screen and (min-width: 900px) {
  .top-gallery {
    padding-top: 0px;
  }
  .top-gallery figure {
    margin-top: 10vh;
  }
  #burger_menu {
    visibility: hidden;
  }
  #top-menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding-top: 80px;
    margin-left: 5vw;
    margin-right: 5vw;
    list-style-type: none;
    justify-items: center;
    padding-inline-start: 0;
  }
  #top-menu li {
    padding: 10px;
  }
  #top-menu a {
    text-decoration: none;
    color: #333;
  }
  #top-menu-container {
    position: relative;
    z-index: 1000;
    visibility: visible;
    margin-left: 10vw;
    margin-right: 10vw;
    display: block;
  }
  .top-gallery p {
    margin: 10vw;
  }
  .image-gallery {
    justify-content: center;
    margin: 8vw;
    align-items: center;
    padding-top: 0;
  }
  .image-gallery figure {
    margin-top: 3vh;
  }
}/*# sourceMappingURL=style.css.map */